{% if error %}
    <div class="alert alert-danger alert-dismissible">Payment Error: {{ error }}</div>
{% else %}

    <div class="container">
        <div class="col-sm-10">
            <strong class="text-left">Please proceed to "Confirm".Then you will be redirected to the N-Genius Online Payment
                Gateway.</strong>
        </div>
    </div>

    <form action="{{ action }}" method="post" name="ngenius_online_payment" id="ngenius_online_payment">
        <div class="buttons">
            <div class="pull-right">
                <input type="button" value="Confirm" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    <script type='text/javascript'>
      $(function () {
        $('input[type=button]').click(function () {
          $('form#ngenius_online_payment').submit()
          $('input[type=button]').attr('disabled', true)
        })
      })
    </script>
{% endif %}
